<%- include('../partials/header') %>

<h2>Login</h2>
<form action="/login" method="post">
  <label>Email</label><br />
  <input type="email" name="email" required /><br />
  <label>Password</label><br />
  <input type="password" name="password" required /><br />
  <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/register">Register</a></p>

<%- include('../partials/footer') %>
