<%- include('../partials/header') %>

<h2>Register</h2>
<form action="/register" method="post">
  <label>Name</label><br />
  <input type="text" name="name" required /><br />
  <label>Email</label><br />
  <input type="email" name="email" required /><br />
  <label>Password</label><br />
  <input type="password" name="password" required /><br />
  <label>Role</label><br />
  <select name="role">
    <option value="buyer">Buyer</option>
    <option value="seller">Seller</option></select
  ><br />
  <button type="submit">Register</button>
</form>

<%- include('../partials/footer') %>
